---
layout: default
---
<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Boilerplate</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include post.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include unit.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include profile.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% include medial.html %}
        </div>
    </div>
</section>